<table class="table">
  <tr>
    <th>Name</th>
    <th>Completed</th>
  </tr>

  {{#each pagedContent}}
    <tr class="todo">
      <td>{{name}}</td>
      <td>
        {{input type="checkbox" checked=completed}}
      </td>
    </tr>
  {{/each}}
</table>

{{page-numbers currentPage=page totalPages=totalPages}}

<button {{action "save"}}>Save</button>