<div class='infinite'>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Completed</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.pagedContent as |content|}}
        <tr class='todo'>
          <td>{{content.name}}</td>
          <td>
            <Input @type='checkbox' @checked={{content.completed}} />
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  
  <div class='next'>
    <a href='#' {{on "click" this.loadNext}}>Next</a>
  </div>
</div>