<div class="infinite">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Completed</th>
    </tr>

    {{#each pagedContent as |content|}}
      <tr class="todo">
        <td>{{content.name}}</td>
        <td>
          {{input type="checkbox" checked=content.completed}}
        </td>
      </tr>
    {{/each}}
  </table>

  <div class="next">
    <a href="#" {{action "loadNext"}}>Next</a>
  </div>
</div>
